# Ignore dependencies
node_modules

# Ignore compiled output
dist

# Ignore all compiled JavaScript files (trans-compiled from TypeScript)
**/*.js
**/*.js.map

# But DO NOT ignore jest.config.js
!jest.config.js

# ANTLR4 output directory where all output is generated to
gen-output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
